body{
    margin: 0;
    background-color: #556688;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;

}

header{
    width: 100vw;
    height: 84px;
    background-color: #1D1C38;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_menu{
    width: 200px;
    height: 42px;
    position: relative;
}

nav{
    display: none;
    width: 200px;
    padding: 16px 0;
    position: absolute;
    top: 42px;
    right: 0;
    background-color: #333355;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.5);
}

ul{
    height: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

li{
    margin-top: 16px;
}

li:nth-child(1){
    margin: 0;
}

nav a{
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #DDEEFF;
    cursor: pointer;
}

nav li::before{
    content: '';
    width: 168px;
    height: 2px;
    border-radius: 50%;
    margin: 0 auto 16px;
    background-color: #DDEEFF;
    display: block;
    transition: 0.5s;
}

nav a:hover{
    color: #FF440D;
    transition: 1s;
}

p{
    width: 200px;
    height: 42px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #DDEEFF;
    background-color: #333355;
    cursor: default;
    box-sizing: border-box;
}

.div_menu:hover p{
    border-radius: 6px 6px 0 0;
    color: #FF440D;
    box-shadow: 8px 0px 10px rgba(0,0,0,0.5);
}

.div_menu:hover nav, nav:hover{
    display: block;
}